html,
body {
  max-width: 750px;
  margin: 0 auto;
}
.swiper-slide {
  display: block;
  width: 100%;
}
.pagination {
  position: absolute;
  left: 0;
  text-align: center;
  bottom: 5px;
  width: 100%;
}
.swiper-pagination-switch {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: #999;
  box-shadow: 0px 1px 2px #555 inset;
  margin: 0 3px;
  cursor: pointer;
}
.swiper-active-switch {
  background: red;
}
.nav-list li {
  float: left;
  width: 25%;
  padding: 12px 0 10px;
  border-left: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
  box-sizing: border-box;
  text-align: center;
}
.nav-list li:nth-child(4n+4) {
  border-right: 1px solid #e2e2e2;
}
.nav-list a {
  display: inline-block;
  color: #333333;
  min-width: 64px;
  font-size: 1rem;
}
.nav-list a:before {
  display: block;
  content: "";
  width: 36px;
  height: 36px;
  margin: 0 auto 9px;
  border-radius: 4px;
  background: url("../img/icon.png") no-repeat;
  background-size: 50px 1000px;
}
.nav-list .icon-1 a:before {
  background-color: #ff565b;
  background-position: center 5px;
}
.nav-list .icon-2 a:before {
  background-color: #fd8e35;
  background-position: center -48px;
}
.nav-list .icon-3 a:before {
  background-color: #f5c132;
  background-position: center -103px;
}
.nav-list .icon-4 a:before {
  background-color: #6cc143;
  background-position: center -158px;
}
.nav-list .icon-5 a:before {
  background-color: #7b7ad7;
  background-position: center -213px;
}
.nav-list .icon-6 a:before {
  background-color: #fe8a66;
  background-position: center -267px;
}
.nav-list .icon-7 a:before {
  background-color: #42bde8;
  background-position: center -320px;
}
.nav-list .icon-8 a:before {
  background-color: #01d1d1;
  background-position: center -375px;
}
h2 {
  padding: 12px 0 12px 14px;
  background-color: #f8f8f8;
  font-size: 1.4rem;
  color: #333333;
  font-weight: bold;
  height: 28px;
  line-height: 28px;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  margin-top: -1px;
}
.fishing-show {
  padding: 13px 10px 0px;
}
.fishing-show .show-box li a {
  position: relative;
}
.fishing-show .show-box li a span {
  font-size: 0.8rem;
  color: #333333;
  padding: 4px 4px 4px 16px;
  border-radius: 4px;
  background: url("../img/icon_heart.png") no-repeat;
  background-position: 4px center;
  background-color: rgba(255, 255, 255, 0.8);
  background-size: 12px 10px;
  position: absolute;
  right: 6px;
  bottom: 6px;
}
.fishing-show .show-box .show1 a {
  display: inline-block;
  width: 100%;
}
.fishing-show .show-box .show2 {
  margin-top: 12px;
}
.fishing-show .show-box .show2 .t1 {
  float: left;
  width: 49%;
}
.fishing-show .show-box .show2 .t2 {
  float: right;
  width: 49%;
}
.fishing-show .choices-line {
  padding-bottom: 4.06%;
}
.fishing-show .choices-line .line1 a,
.fishing-show .choices-line .line2 a {
  float: left;
  display: block;
  width: 18%;
  height: 18px;
  line-height: 18px;
  text-align: center;
  color: #333333;
  font-size: 1rem;
  background: #ededed;
  border-radius: 4px;
  margin-left: 2%;
}
.fishing-show .choices-line .line1 {
  margin-top: 2.18%;
  padding-bottom: 1.25%;
  border-bottom: 1px dashed #e2e2e2;
}
.fishing-show .choices-line .line1 > a:first-child {
  display: block;
  background: #ffc508;
  position: relative;
  color: #fff;
}
.fishing-show .choices-line .line1 > a:first-child:before {
  content: "";
  display: block;
  width: 14px;
  height: 18px;
  vertical-align: middle;
  margin-left: -2%;
  background: url("../img/a.png") no-repeat;
  background-size: 14px 54px;
  position: absolute;
  top: 0;
  left: -8px;
}
.fishing-show .choices-line .line2 {
  padding-top: 1.25%;
  margin-bottom: 1.87%;
}
.fishing-show .choices-line .line2 > a:first-child {
  display: block;
  background: #f94e3c;
  position: relative;
  color: #fff;
}
.fishing-show .choices-line .line2 > a:first-child:before {
  content: "";
  display: block;
  width: 14px;
  height: 18px;
  margin-left: -2%;
  background: url("../img/a.png") no-repeat;
  background-size: 14px 54px;
  background-position: center -36px;
  position: absolute;
  top: 0;
  left: -8px;
}
.table-menu-wrap {
  width: 100%;
  background: #f8f8f8;
  padding-top: 26px;
  padding-bottom: 26px;
}
.table-menu-wrap .table-menu {
  width: 92%;
  margin: 0 auto;
  border: 1px solid #e2e2e2;
  border-top: 1px solid #ffb039;
  border-radius: 4px;
  padding: 0 10px 18px;
  background: #fff;
}
.table-menu-wrap .table-menu h3 {
  color: #333333;
  font-size: 1.6rem;
  font-weight: bold;
  text-align: center;
  padding-top: 16px;
  padding-bottom: 18px;
}
.table-menu-wrap .table-menu h3:before {
  content: "";
  display: inline-block;
  height: 18px;
  width: 14px;
  margin-right: 34px;
  vertical-align: middle;
  background: url("../img/counter.png") no-repeat;
  background-size: 14px 18px;
}
.table-menu-wrap .table-menu .list1 .a1 {
  float: left;
  width: 47%;
  border: 1px solid #e2e2e2;
  border-radius: 4px;
}
.table-menu-wrap .table-menu .list1 .a1 input {
  width: 73%;
  display: inline-block;
  border: 0;
  border-radius: 4px;
  height: 30px;
  padding-left: 14px;
  font-size: 1.2rem;
  color: #a8a8a8;
}
.table-menu-wrap .table-menu .list1 .a1 span {
  display: inline-block;
  width: 10%;
  color: #333333;
  font-size: 1.2rem;
}
.table-menu-wrap .table-menu .list1 .a1 span sup {
  font-size: 0.8rem;
  color: #333333;
}
.table-menu-wrap .table-menu .list1 .a2 {
  float: right;
  font-family: "Microsoft Yahei";
  width: 47%;
  border: 1px solid #e2e2e2;
  border-radius: 4px;
  line-height: 30px;
  height: 30px;
  position: relative;
}
.table-menu-wrap .table-menu .list1 .a2:after {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  vertical-align: middle;
  border-top: 1px solid #333333;
  border-right: 1px solid #333333;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
  position: absolute;
  top: 8px;
  right: 14px;
}
.table-menu-wrap .table-menu .list1 .a2 select {
  display: inline-block;
  width: 100%;
  padding: 5px 0 5px 7px;
  text-align: center;
  border: none;
  color: #333333;
  font-size: 1.2rem;
  background-color: transparent;
}
.table-menu-wrap .table-menu .list2 {
  font-family: "Microsoft Yahei";
  border: 1px solid #e2e2e2;
  border-radius: 4px;
  height: 30px;
  margin-top: 10px;
  line-height: 30px;
  position: relative;
}
.table-menu-wrap .table-menu .list2:after {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  border-top: 1px solid #333333;
  border-right: 1px solid #333333;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
  position: absolute;
  top: 8px;
  right: 14px;
}
.table-menu-wrap .table-menu .list2 select {
  width: 100%;
  display: inline-block;
  padding: 5px 0 5px 14px;
  border: none;
  color: #333333;
  font-size: 1.2rem;
  background-color: transparent;
}
.table-menu-wrap .table-menu .list4 {
  margin-top: 10px;
}
.table-menu-wrap .table-menu .list4 a {
  display: block;
  color: #fff;
  font-size: 1.2rem;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background: #fa4e3e;
  border: 1px solid #e2e2e2;
  border-radius: 4px;
}
.more-choices {
  height: 32px;
  border: 1px solid #e2e2e2;
  border-radius: 4px;
}
.more-choices a {
  display: block;
  text-align: center;
  width: 50%;
  height: 32px;
  line-height: 32px;
  font-size: 1.2rem;
  box-sizing: border-box;
}
.more-choices .shop5-1 {
  float: left;
  border-right: 1px solid #e2e2e2;
  color: #333333;
}
.more-choices .shop5-1:before {
  display: inline-block;
  content: "";
  width: 14px;
  height: 14px;
  margin-right: 4px;
  vertical-align: middle;
  background: url("../img/b.png") no-repeat;
  background-size: 14px 14px;
}
.more-choices .shop5-2 {
  float: right;
  color: #fa4838;
}
.more-choices .shop5-2:after {
  display: inline-block;
  content: "";
  width: 8px;
  height: 8px;
  margin-left: 4px;
  vertical-align: middle;
  border-top: 1px solid #fa4838;
  border-right: 1px solid #fa4838;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
#decorate-strategy {
  padding: 10px 10px;
}
#decorate-strategy .deco-1 {
  border-bottom: 1px solid #e2e2e2;
}
#decorate-strategy .deco-1 li {
  padding-bottom: 10px;
}
#decorate-strategy .deco-1 li a {
  display: inline-block;
  width: 48%;
  height: 32px;
  line-height: 32px;
  border: 1px solid #e2e2e2;
  text-align: center;
  box-sizing: border-box;
  border-radius: 4px;
  color: #333333;
  font-size: 1.2rem;
}
#decorate-strategy .deco-1 li a:before {
  display: inline-block;
  content: "";
  height: 16px;
  width: 16px;
  vertical-align: middle;
  margin-right: 6px;
  background: url("../img/icon.png") no-repeat;
  background-size: 50px 1000px;
}
#decorate-strategy .deco-1 li .a1 {
  margin-right: 2%;
}
#decorate-strategy .deco-1 li .a1:before {
  background-position: center -794px;
}
#decorate-strategy .deco-1 li .a2:before {
  background-position: center -856px;
}
#decorate-strategy .deco-1 li .a3 {
  margin-right: 2%;
}
#decorate-strategy .deco-1 li .a3:before {
  background-position: center -918px;
}
#decorate-strategy .deco-1 li .a4:before {
  background-position: center -980px;
}
#decorate-strategy .deco-2 {
  margin-bottom: 1.87%;
}
#decorate-strategy .deco-2 a {
  display: block;
  margin-top: 10px;
}
#decorate-strategy .deco-2 a .div1 .div1-img {
  float: left;
  width: 30%;
}
#decorate-strategy .deco-2 a .div1 .div1-text {
  float: left;
  width: 66%;
  margin-left: 4%;
}
#decorate-strategy .deco-2 a .div1 .div1-text h3 {
  color: #333333;
  font-size: 1.2rem;
  height: 30px;
  line-height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#decorate-strategy .deco-2 a .div1 .div1-text p {
  color: #b4b4b4;
  font-size: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
#decorate-strategy .deco-3 {
  margin-top: 3.75%;
  padding: 12px 0;
  border-top: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
}
#decorate-strategy .deco-3 li {
  float: left;
  width: 33.333%;
  text-align: center;
  position: relative;
}
#decorate-strategy .deco-3 li i {
  display: block;
  width: 68px;
  height: 68px;
  margin: 0 auto 10px;
  background: url("../img/decorate.png") no-repeat;
  background-size: 64px 200px;
  background-position: center 0px;
}
#decorate-strategy .deco-3 li span {
  display: inline-block;
  color: #333333;
  font-size: 1.2rem;
}
#decorate-strategy .deco-3 .icondeco-1:before {
  display: block;
  content: "";
  width: 10px;
  height: 10px;
  background: url("../img/decro-arrow1.png") no-repeat;
  background-size: 10px 10px;
  position: absolute;
  top: 30px;
  right: -7px;
}
#decorate-strategy .deco-3 .icondeco-2 i {
  background-position: center -66px;
}
#decorate-strategy .deco-3 .icondeco-2:before {
  display: block;
  content: "";
  width: 10px;
  height: 10px;
  background: url("../img/decro-arrow2.png") no-repeat;
  background-size: 10px 10px;
  position: absolute;
  top: 30px;
  right: -7px;
}
#decorate-strategy .deco-3 .icondeco-3 i {
  background-position: center -132px;
}
#ad1 {
  margin-bottom: 10px;
}
#ad1 a {
  display: block;
  width: 100%;
}
#search {
  padding: 0px 10px 28px;
}
#search .search-box {
  margin-bottom: 14px;
}
#search .search-box input {
  display: inline-block;
  width: 67%;
  height: 16px;
  line-height: 16px;
  padding: 6px 0 6px 10px;
  border: 1px solid #e2e2e2;
  border-radius: 4px;
  margin-right: -4px;
  color: #b4b4b4;
  font-size: 1.4rem;
  background: #f8f8f8;
}
#search .search-box a {
  display: inline-block;
  width: 29%;
  height: 16px;
  line-height: 16px;
  background: #fa4e3e;
  color: #fff;
  text-align: center;
  font-size: 1.4rem;
  padding: 7px 0;
  border-radius: 0px 4px 4px 0px;
}
#search .search-box a:before {
  display: inline-block;
  content: "";
  width: 18px;
  height: 17px;
  vertical-align: middle;
  margin-right: 2px;
  background: url("../img/search.png") no-repeat;
  background-size: 18px 17px;
  background-position: center 0px;
}
#search .search-list a {
  display: block;
  border-bottom: 1px solid #e2e2e2;
}
#search .search-list a:last-child {
  border-bottom: none;
}
#search .search-list a dt {
  padding-top: 10px;
  color: #333333;
  font-size: 1.4rem;
}
#search .search-list a dt span {
  padding-right: 10px;
  color: #b4b4b4;
}
#search .search-list a dd {
  padding-left: 14px;
  font-size: 1.2rem;
  height: 34px;
  line-height: 34px;
}
#search .search-list a dd .span1 {
  float: left;
  color: #fa4331;
}
#search .search-list a dd .span2 {
  float: right;
  color: #cccccc;
  padding-right: 14px;
}
#search .search-list a dd .span2:before {
  display: inline-block;
  content: "";
  padding-right: 7px;
  border-color: transparent transparent transparent #cccccc;
  border-style: solid;
  border-width: 6px;
}
#new-list {
  padding: 16px 10px 0;
}
#new-list p {
  padding-bottom: 16px;
}
#new-list p em {
  float: left;
  padding-right: 8px;
  color: #b4b4b4;
}
#new-list p a {
  float: left;
  color: #333333;
  font-size: 1.2rem;
  width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#new-list p span {
  float: right;
  color: #b4b4b4;
  font-size: 1.2rem;
}
#deco-counter li {
  border-bottom: 1px solid #e2e2e2;
}
#deco-counter li > a:nth-child(2) {
  border-left: 1px solid #e2e2e2;
  border-right: 1px solid #e2e2e2;
}
#deco-counter li a {
  display: inline-block;
  width: 32%;
  height: 74px;
  padding-top: 10px;
  text-align: center;
  color: #333333;
  font-size: 1.2rem;
}
#deco-counter li a:before {
  display: block;
  content: "";
  width: 40px;
  height: 40px;
  margin: 0 auto 12px;
  border-radius: 20px;
  background: url("../img/icon.png") no-repeat;
  background-size: 50px 1000px;
}
#deco-counter li .counter-1:before {
  background-color: #fd9500;
  background-position: center -428px;
}
#deco-counter li .counter-2:before {
  background-color: #4bc1d2;
  background-position: center -483px;
}
#deco-counter li .counter-3:before {
  background-color: #6aca2a;
  background-position: center -537px;
}
#deco-counter li .counter-4:before {
  background-color: #00abfb;
  background-position: center -592px;
}
#deco-counter li .counter-5:before {
  background-color: #cd6fe3;
  background-position: center -647px;
}
#deco-counter li .counter-6:before {
  background-color: #f35050;
  background-position: center -702px;
}
#footer {
  background: #f8f8f8;
}
#footer .ad2 {
  padding-top: 16px;
  margin-bottom: 18px;
}
#footer .ad2 a {
  display: block;
  width: 100%;
}
#footer .info-list {
  padding: 0 10px;
  text-align: center;
}
#footer .info-list .p1 {
  margin-bottom: 10px;
}
#footer .info-list .p1 a {
  display: inline-block;
  width: 29%;
  border: 1px solid #e2e2e2;
  height: 26px;
  line-height: 26px;
  border-radius: 4px;
  background: #fff;
  color: #333333;
  font-size: 1.2rem;
}
#footer .info-list .p1 span {
  display: inline-block;
  width: 4%;
}
#footer .info-list .p2 {
  border: 1px solid #e2e2e2;
  height: 30px;
  width: 56.75%;
  line-height: 30px;
  border-radius: 4px;
  background: #fff;
  margin: 0 auto;
  padding: 0 10px;
}
#footer .info-list .p2 span {
  display: inline-block;
  color: #333333;
  font-size: 1.2rem;
}
#footer .info-list .p2 span:before {
  display: inline-block;
  content: "";
  width: 10px;
  height: 10px;
  margin-right: 6px;
  background: url("../img/call.png") no-repeat;
  background-size: 10px 10px;
}
#footer .info-list .p2 a {
  display: inline-block;
  color: #fa4535;
  font-size: 1.2rem;
}
#footer .info-list .p3 {
  margin-top: 12px;
  margin-bottom: 28px;
  color: #b4b4b4;
  font-size: 1.2rem;
}
#footer .info-list .p4 {
  margin-bottom: 6px;
}
#footer .info-list .p4 a {
  color: #37b5f2;
  font-size: 1.2rem;
}
#footer .info-list .p4 a:before {
  display: inline-block;
  content: "";
  width: 15px;
  height: 12px;
  margin-right: 4px;
  vertical-align: middle;
  background: url("../img/computer.png") no-repeat;
  background-size: 15px 12px;
}
.online-server,
.top-back {
  position: fixed;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background: #838383;
  text-align: center;
  color: #fff;
  font-size: 1rem;
}
.online-server {
  right: 12px;
  bottom: 58px;
}
.online-server:before {
  display: block;
  content: "";
  width: 15px;
  height: 12px;
  vertical-align: middle;
  padding-top: 2px;
  margin: 2px auto 6px;
  background: url("../img/callp.png") no-repeat;
  background-size: 15px 12px;
  background-position: center 2px;
}
.top-back {
  right: 12px;
  bottom: 8px;
}
.top-back:before {
  display: block;
  content: "";
  width: 8px;
  height: 8px;
  vertical-align: middle;
  margin: 6px auto 2px;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
