@charset "utf-8";
@import url("commitLeft.css");
#m-right{
	width: 1005px;
	float: right;
}
.m-line1{
	width:100%;
	overflow:hidden;
}
.m-left1{
	float: left;
	width: 642px;
	height: 125px;
	border: 2px solid #e6e6e6;
	padding-top: 30px;
	padding-left: 30px;
	overflow: hidden;
	 dt{
		float: left;
		padding-right: 24px;
	}
	 dd{
		margin-top: 13px;
		vertical-align: middle;
	}
	.d1{
		color: #1a1a1a;
		font-size: 18px;
		font-weight: bold;
		background: url("../img/vip.png") no-repeat;
		background-position: 240px 6px;
	}
	.d2{
		font-size: 14px;
	}
}

.m-right1{
	float: right;
	width: 260px;
	height: 115px;
	border:2px solid #e6e6e6;
	background:#faf8f4;
	overflow: hidden;
	padding-top: 40px;
	padding-left: 40px;
	dt{
		float: left;
	}
	dd{
		padding-top: 2px;
	}
	img{
		padding-right: 30px;
	}
	.d3{
		font-size: 14px;
		color: #808080;
	}
	.d4{
		color: #0d0d0d;
		font-size: 22px;
		font-weight: bold;
	}
}
#m-line {
	width: 1005px;
	height: 50px;
	line-height: 50px;
	overflow: hidden;
	vertical-align: middle;
	margin-bottom: 5px;
	margin-top: 5px;
	span{
		float: left;
		color: #1a1a1a;
		font-size: 16px;
		background: url("../img/jux.png") left center no-repeat;
		padding-left: 20px;
	}
	a{
		color: #999999;
		font-size: 14px;
		float: right;
		padding-right: 22px;
	}
}
.m-line2{
	width: 1001px;
	border: 2px solid #e6e6e6;
	.p1{
		height: 45px;
		line-height: 45px;
		background: #f5f5f5;
		span{
			color: #666666;
			font-size: 14px;
			padding-left: 15px;
		}
	}
	.table-list{
		display:table-cell;
		vertical-align: middle;
		.table{
			// border:1px solid red;
			width:1001px;
			padding:10px 0;
			tr{
				.img{
					width: 100px;
					padding:0px 18px;
				}
				.text{
					width: 198px;
					font-size: 14px;
				}
				.two{
					width: 190px;
				    background: url("../img/c2.png") center no-repeat;
				    // background-position: 68px 26px;
				}
				.money{
					width: 88px;
					text-align:center;
					span{
						display: block;
						color: #ed601b;
						font-size: 14px;
					}
					a{display: block;
						color: #999999;
						font-size: 13px;
					}
				}
				.wait{
					text-align:center;
					width: 160px;
					border-right: 2px solid #e6e6e6; 
					border-left: 2px solid #e6e6e6; 
					span{
						display:block;
						color: #666666;
						font-size: 14px;
					}
					a{
						display:block;
						color: #666666;
						font-size: 14px;
					}
				}
				.play{
					width: 160px;
					text-align:center;
					a{
						display:inline-block;
						color: #666666;
						font-size: 14px;
						width:104px;
						height: 35px;
						line-height:35px;
						background:#f5f5f5;
						text-align:center;
						border: 2px solid #e6e6e6;
					}
					a:hover{
						background:#ffa130;
						color:#fff;
					}
				}
			}
		}
	}
}
.m-line3{
	width: 1005px;
	>div:first-child{
		border-left:2px solid #e6e6e6;
		margin-left:2px;
	}
	div{
		float: left;
		width: 248px;
		height: 335px;
		border-right:2px solid #e6e6e6;
		border-top:2px solid #e6e6e6;
		border-bottom:2px solid #e6e6e6;
		text-align:center;
		// vertical-align:middle;
		.img{
			height:220px;
			width: 248px;
			line-height:220px;
			display:table-cell;
			vertical-align:middle;
			text-align:center;  
			*display: block;
			*font-size: 192px;/*约为高度的0.873，220*0.873 约为192px.是把外框高度当成行高了*/
			*font-family:Arial;/*防止非utf-8引起的hack失效问题，如gbk编码*/
			a{
				img{
					// padding:1px;
					vertical-align:middle; 	
				}
			}
		}
		.ps1{
			a{
				font-size:14px;
				color:#4c4c4c;
			}
		}
		.ps2{
			
			i{
				font-size:18px;
				color:#ed601b;
				padding-right:63px;
			}
			del{
				font-size:14px;
				color:#999999;
				text-align:right;
			}
		}
		.ps3{
			margin-top:10px;
			a{
				display:inline-block;
				width:100px;
				padding:5px 0;
				border:2px solid #e6e6e6;
				color:#4c4c4c;
			}
			a:hover{
				background:#ffa130;
				color:#fff;
			}
		}
	}
}