@charset "utf-8";
#m-left {
  width: 170px;
  float: left;
  border-top: 4px solid #ffa130;
  border-bottom: 1px solid #e6e6e6;
}
#m-left a {
  display: block;
  line-height: 50px;
  height: 50px;
  text-align: center;
  font-size: 14px;
  color: #656565;
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
}
#m-left a:hover {
  background: #f88f1f;
  color: #fff;
  border-left: 1px solid #f88f1f;
  border-right: 1px solid #f88f1f;
}
