@import url("commitLeft.css");
@charset "utf-8";
#m-left .active a {
  background: #f88f1f;
  color: #fff;
  border-left: 1px solid #f88f1f;
  border-right: 1px solid #f88f1f;
}
#m-right {
  float: right;
  width: 1005px;
  border: 1px solid #e6e6e6;
}
#m-right .onebase-p {
  width: 100%;
  height: 47px;
  line-height: 47px;
  background: #f0f0f0;
  border-bottom: 1px solid #e6e6e6;
}
#m-right .onebase-p a.a1 {
  display: inline-block;
  height: 47px;
  line-height: 47px;
  width: 100px;
  text-align: center;
  color: #4c4c4c;
  font-size: 18px;
  background: #fff;
  border-right: 1px solid #e6e6e6;
}
#m-right .onebase-p a.a2 {
  display: inline-block;
  color: #737373;
  font-size: 18px;
  margin-left: 30px;
}
#m-right .m-right1 {
  display: inline-block;
  margin-left: 280px;
  margin-top: 35px;
  width: 335px;
  height: 115px;
  border: 2px solid #e6e6e6;
  background: #faf8f4;
  overflow: hidden;
}
#m-right .m-right1 dt {
  float: left;
}
#m-right .m-right1 dt img {
  margin: 30px;
}
#m-right .m-right1 dd {
  padding-top: 5px;
  margin-top: 10px;
}
#m-right .m-right1 .d3 span {
  font-size: 14px;
  color: #808080;
}
#m-right .m-right1 .d4 span {
  color: #0d0d0d;
  font-size: 22px;
  font-weight: bold;
}
#m-right input {
  margin-top: 30px;
  margin-bottom: 60px;
  margin-left: 280px;
  width: 275px;
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  border: 1px solid #e6e6e6;
  padding-left: 60px;
  background: url("../img/play.png") 20px center no-repeat;
}
#m-right .form-p2 {
  margin-left: 410px;
  margin-bottom: 80px;
}
#m-right .form-p2 a {
  text-align: center;
  display: inline-block;
  width: 90px;
  font-size: 14px;
  background: #26c08a;
  color: #fff;
  height: 35px;
  line-height: 35px;
  border-radius: 4px;
}
