@charset "utf-8";
#main-div {
  margin: 55px auto 75px;
  border: 1px solid #e6e6e6;
  height: 450px;
}
#main-div p {
  margin: 70px auto 0px;
  width: 330px;
  height: 80px;
  line-height: 80px;
  text-align: center;
}
#main-div p img {
  display: inline-block;
  vertical-align: middle;
}
#main-div p span {
  display: inline-block;
  padding-left: 15px;
  color: #000;
  font-size: 24px;
  vertical-align: middle;
}
#main-div i {
  display: block;
  margin: 0 auto;
  width: 100px;
  height: 35px;
  line-height: 35px;
}
#main-div i a {
  font-size: 13px;
}
#main-div i a em {
  color: #b4f0db;
}
